<!-- views/partials/header.ejs -->

<nav class="navbar navbar-light navbar-expand-md navigation-clean" style="padding:0px;">
    <div class="container">
        <div><a class="navbar-brand" href="/">Abdelfattah Amamra </a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" style="color:#FFFFFF"; href="/dashboard">Dashboard </a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" style="color:#FFFFFF"; href="/competition">Competition </a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" style="color:#FFFFFF"; href="/project">Projects </a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" style="color:#FFFFFF"; href="/homework">Homework </a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" style="color:#FFFFFF"; href="/quiz">Quizses </a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" style="color:#FFFFFF"; href="/lab">Labs </a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" style="color:#FFFFFF"; href="/faq">FAQ </a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" style="padding:10px; color:#FFFFFF" href="#">Guest</a>
                    <div class="dropdown-menu"
                        role="menu"><a class="dropdown-item" role="presentation"  href="#">Logout <i class="fa fa-user-times" id="logouticon"></i></a></div>
                </li>
            </ul>
        </div>
    </div>
</nav>